<html>
<head>
    <title>Posts Demo</title>
    <style>
  table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #444444;
  }
    </style>
</head>
<body>
<table>
<tr>
<th>Post Id</th>
<th>Contents</th>
<th>Url</th>
<th>Scrap</th>
</tr>
{% for result in results %}
<tr>
<td>
{{ result["post_id"] }}
</td>
<td>
{{ result["contents"] }}
</td>
<td>
{{ result["url"] }}
</td>
<td>
{{ result["scrap"]["description"] }}<br>
<img width=200 height=200 src={{ result["scrap"]["image"] }}>
</td>
</tr>
{% endfor %}
</table>
</body>
</html>
