fastapi==0.65.2
prometheus-fastapi-instrumentator==5.7.1
kazoo==2.8.0
redis==3.5.3
uvicorn==0.14.0
json_logging==1.3.0
beautifulsoup4==4.9.3
httpx==0.18.2
simplekiq==0.0.2
sqlalchemy==1.4.19
pymysql==1.0.2
geoip2==4.2.0
aredis[hiredis]==1.1.8
jinja2==3.0.1
aiofiles==0.7.0
aiobreaker==1.2.0
murmurhash3==2.3.5
simplejson==3.17.3
